@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

@layer components {
  .animation {
    @apply transition-all duration-300;
  }
}
