@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden::-webkit-scrollbar {
  width: 0px;
}

/* Hide scrollbar for all browsers */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

@layer components {
  .animation {
    @apply duration-300 transition-all ease-in-out;
  }
  .center-y {
    @apply flex items-center;
  }
  .center-xy {
    @apply flex items-center justify-center;
  }
}
